:root {
  --bg-color-light-theme: rgb(170, 210, 255);
  --font-color-light-theme: rgb(35, 65, 90);
  --bg-color-dark-theme: rgb(35, 65, 90);
  --font-color-dark-theme: white;
  --bg-color-med-theme: steelblue;
  --font-color-med-theme: white;
}

body {
  background-color: var(--bg-color-light-theme);
  margin: 0 auto;
  font-family: 'Segoe UI';
}

main {
  margin: 0 1rem;
}

nav {
  background-color: var(--bg-color-med-theme);
  color: var(--font-color-med-theme);
}

nav .nav-logo {
  float: left;
  height: 10vh;
  padding: 1rem;
}

nav .nav-logo:hover {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%);
}

nav ul {
  display: flex; /* Allow nav list to display to the right of the logo */
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

nav ul > li {
  display: inline-block; /* Allow nav list items to display side-by-side */
}

nav ul > li > a {
  display: inline-block;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 2rem;
  height: 10vh;
  line-height: 10vh;
  transition: 0.2s;
}

nav ul > li > a:hover {
  background-color: var(--font-color-med-theme);
  color: var(--bg-color-med-theme);
}

/*
 * All links get underline decoration by default, even if their only content is an image.
 * This rule removes that unwanted underlining for the nav logo.
 */
nav .nav-logo-link {
  text-decoration: none;
}